body{
    height: 100%;
    width:100%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: rgb(158, 150, 150);
    padding: 25px 50px;
    
}

.logo {
    height: 100px;
    width: 100px;
    background-color: rgb(76, 110, 221);
}

.text {
    text-align: center;
    overflow-wrap: break-word;
    padding: 25px 200px;
    font-size: 25px;
    margin-bottom: 120px;
    
}


.box {
    height: 100px;
}

.blue {
background-color: rgb(76,110,221);
}

.light-blue{
background-color: rgb(71, 190, 245) ;
}

.puke-color{
background-color: yellowgreen;
}

.yellow {
    background-color: rgba(240, 240, 58, 0.993);
}